:host {
  display: block;
  line-height: 1.3;
  flex: 1;
}

.image {
  max-width: 350px;
  height: 350px;
  background-position: center top;
  background-size: cover;
}

.block {
  padding: 0.4rem;

  .description {
    margin-bottom: 0.3rem;
  }
}
