@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "variables";

body {
  font-family: "Roboto", sans-serif;
  color: $color-normal;
  overflow-wrap: anywhere;
}

img {
  max-width: 100%;
}

a {
  color: $color-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-dark;
  margin: 0;
}
